# OS files
.DS_Store
Thumbs.db

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/instance/
backend/uploads/
backend/tests/.pytest_cache/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Large Media & Samples
Reiss - Sample files/
*.mov
*.mp4
*.webm
